*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main {
    min-width: 300px; /*responsividade a depender do tamanho da tela*/
    max-width: 800px; /*responsividade a depender do tamanho da tela*/
}

body {
    height: 100vh;
    width: 100vw;
    display:flex ;
    justify-content: center ;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-repeat: no-repeat; /*para não repetir a imagem independente do tamanho da tela*/
    background-size: cover; /*para ocupar toda a tela independente do tamanho*/
}

.caixa-maior {
    background-color: black;
    opacity: 0.8;
    border-radius: 25px;
    padding: 25px;
    width: 100%; /*responsividade*/
    max-width: 450px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffff;
    width: calc(100% - 60px);
    font-style: italic;
    padding-left: 20px;
}

.bot-buscar {
    padding: 10px;
    border-radius: 100px;
    background-color: #ffff;
    opacity: 0.8;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
}

.img-buscar {
    width: 20px;
}

.cidade {
    color: #ffff;
    font-weight: 300;
    font-size: 28px;
    margin: 15px;
    margin-top: 20px;
}

.temperatura {
    color: #ffff;
    font-weight: 300;
    font-size: 21px;
    margin: 15px;
}



.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 35px;
    flex-direction: row;
    column-gap: 10px;
}

.icon-previsao {
    width: 35px;
    margin-left: 10px;
}

.clima {
    color: #ffff;
    font-weight: 300;
    font-size: 21px;
    margin: 5px;
    text-transform: capitalize;
}

.umidade {
    color: #ffff;
    font-weight: 300;
    font-size: 21px;
    margin: -15px;
}

.icon-umidade {
    width: 28px;
    margin: 20px;
}


@media screen and (max-width: 768px) {
    .caixa-maior {
        display: block;
    }


}